{% load static %}

<!--link rel="stylesheet" href="{% static '/css/main.css' %}">

<h3>Hi whats up</h3>
<img src="{% static '/images/img.JPG' %}" alt=""-->

<!DOCTYPE html>
<html>
    <head>
        <title>Code Viewer</title>
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body h-100 border-info" id="profile-wrapper" >
                        <img id="profile-pic"  src="{% static '/images/img.JPG' %}" alt="">
                        <hr>
                        <h4>Hi I am Barkhayot</h4>
                        <p>I love coding and solving problems</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body h-100 border-info" >
                        <h4>My Job as Software Developer</h4>
                        <hr>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's 
                            standard dummy text ever since the 1500s, when an unknown 
                            printer took a galley of type and scrambled it to make a 
                            type specimen book. It has survived not only five centuries, 
                            but also the leap into electronic typesetting, 
                            remaining essentially unchanged. Lorem Ipsum has been the industry's 
                            standard dummy text ever since the 1500s, when an unknown 
                            printer took a galley of type and scrambled it to make a 
                            type specimen book. It has survived not only five centuries, 
                            but also the leap into electronic typesetting, 
                            remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's 
                            standard dummy text ever since the tandard dummy text 
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100" >
                        <h4>Skills</h4>
                        <hr>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's 
                            standard dummy text ever since the 1500s, when an unknown 
                            printer took a galley of type and scrambled it to make a 
                            type specimen book. It has survived not only five centuries, 
                            but also the leap into electronic typesetting, 
                            remaining essentially unchanged. 
                        </p>
        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body h-100" >
                        <h4>University</h4>
                        <hr>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's 
                            standard dummy text ever since the 1500s, when an unknown 
                            printer took a galley of type and scrambled it to make a 
                            type specimen book. It has survived not only five centuries, 
                            but also the leap into electronic typesetting, 
                            remaining essentially unchanged. 
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body h-100" >
                        <h4>Experince</h4>
                        <hr>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's 
                            e  
                        </p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body h-100" >
                        <h4>Being Software Developer</h4>
                        <hr>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's 
                            standard dummy text ever since the 1500s, when an unknown 
                            printer took a galley of type and scrambled it to make a 
                            type specimen book. It has survived not only five centuries, 
                            but also the leap into electronic typesetting, 
                            remaining essentially unchanged. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>